<md-dialog aria-label="Add Contact">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Contact</h2>
                <span flex></span>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>First name</label>
                        <input ng-model="contact.firstName">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Last name</label>
                        <input ng-model="contact.lastName">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Email</label>
                        <input ng-model="contact.emailAddress">
                    </md-input-container>

                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="addContact(contact.firstName, contact.lastName, contact.emailAddress)">
                <md-icon md-svg-src="icons/done.svg"></md-icon>
            </md-button>
            <md-button ng-click="cancel()">
                <md-icon md-svg-src="icons/cancel.svg"></md-icon>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>